<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>This is Templates Home Files</h2>
    <a href="{% url 'detail' 1 %}">Student 1</a>
    <a href="{% url 'subdetail' 1111 5 %}">Student 1 5</a>
    <a href="{% url 'subdetail' 2222 6%}">Student 2 6</a>
    <a href="{% url 'subdetail' 3333 7%}">Student 3 7</a>
</body>
</html>