<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
    .myuser{
        color:red;
    }
    .mypass{
        color:blue;
    }
    

    </style>
</head>
<body>
    {% comment %} <form action="" method="POST" novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="LogIn">
    </form> {% endcomment %}
    <h3>Login Page</h3> 
 <form action="" method="post" novalidate>
   {% csrf_token %}
   {% for fm in form %}
    <div><br> 
    {{fm.label_tag}} {{fm}} <small>{{fm.errors|striptags}}</small>
    </div>
   {% endfor %}
   <input type="submit" value="Login">
   {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
     <p>{{error}}</p>
    {% endfor %}
   {% endif %}
  </form><hr>
    <a href="{% url 'home' %}">Back To Home Page</a><hr>
    
    
</body>
</html>