<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DateTime</title>
</head>
<body>
    <h3>{{ddtt}}</h3>
    <h3>{{ddtt|date:'D d M Y'}}-->Day Date Month Year</h3>
    <h3>{{ddtt|time:'H:i'}}-->hours Min</h3>
    <h3>{{ddtt|date:'SHORT_DATE_FORMAT'}}-->date predefine Format</h3>
    <h3>{{ddtt|time:'TIME_FORMAT'}}-->time predefine format</h3>
</body>
</html>