<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
    <style>
        table, th, td, tr {
            border: 1px solid black
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Roll</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
        {% comment %} {% for student in students %} {% endcomment %}
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.roll}}</td>
                <td>{{student.course}}</td>
            </tr>
        {% comment %} {% endfor %} {% endcomment %}
        </tbody>
    </table><hr><a href="{% url 'studentlist' %}">Back To Page</a><br><hr>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Roll</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
        {% for fresher in freshers %}
            <tr>
                <td>{{fresher.id}}</td>
                <td><a href="{% url 'studentdetail' fresher.id %}">{{fresher.name}}</a></td>
                <td>{{fresher.roll}}</td>
                <td>{{fresher.course}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>