<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paginations</title>
</head>
<body>
    <h1>Home Page</h1>
    {% for i in all %}
    <h2> {{i.id}} </h2>
    <h3> {{i.title}} </h3>
    <p> {{i.description}} </p>
    <small> {{i.published_date}} </small>
    {% endfor %}
    <hr>
    <div>
        <span>
            {% if all.has_previous %}
                <a href="?page={{all.previous_page_number}}">Previous</a>
            {% endif %}
            
            <span>{{all.number}}</span>
            
            {% if all.has_next %}

                {% comment %} <button type="button">
                    Next<a href="{% url 'next' %}"></a>
                </button> {% endcomment %}
                {% comment %} <button href="{% url 'next' %}" type="submit" class="edit" formmethod="POST">Next</button> {% endcomment %}

                {% comment %} <form method="link" action="{% url 'next' %}">
                <input type="button" value="Start">
                </form> {% endcomment %}

                {% comment %} <button onClick="{% url 'next' %}"> Next</button> {% endcomment %}
                <a href="?page={{all.next_page_number}}">Next</a>
            {% endif %}
        </span>
    </div>

</body>
</html>