<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'enroll/style.css'%}">
    <title>Document</title>
</head>
<body>
    
    <h2>Student Data From Database</h2>
    {% if std %}
    <h1>Show Data</h1>
    {{std}}
    <table>
        <tr>
            <th>ID</th>
            <th>STUID</th>
            <th>STUNAME</th>
            <th>STUEMAIL</th>
            <th>STUPASS</th>
        </tr>
        {% for st in std %}
        <tr>
            <td>{{st.id}}</td>
            <td>{{st.stuid}}</td>
            <td>{{st.stuname}}</td>
            <td>{{st.stuemail}}</td>
            <td>{{st.stupass}}</td>
            
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>No Data</h1>
    {% endif%}
</body>
</html>