<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h2>Profile page</h2>
    <h2>Welcome {{name}}</h2>
    {% if use != None %}
        <h3>List of Users</h3>
        {% for user in use %}
            <a href="{% url 'userdetail' user.id %}">{{user.username}}<br></a>
        {% endfor%}
    {% endif %}
    <hr>
    {% if messages %}
        {% for message in messages %}
            <small {% if message.tags %} class="{{message.tag}}" {% endif %}> {{message}} </small>
        {% endfor %}
    {% endif %}
    <form action="" method="post" novalidate >
        {% csrf_token %}
        {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class='er'>{{error}}</p>
            {% endfor %}        
        {% endif %}
        <input type="submit" value="Save">
    </form>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'changepass' %}">Change Password</a>
</body>
</html>